{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <hr class="mt-0 mb-4">

      <head>
        <title>Listings</title>
      </head>
      <body>
        <h1>Listings</h1>

        {% if list_of_listings %}

          <ul>
            {% for listing in list_of_listings %}
              <li>{{ listing.name}}</li>
            {% endfor %}
          </ul>


        {% else %}
          <p>No listings are available. :(</p>
        {% endif %}


      </body>

    </div>
  </div>
</div>




{% endblock %}
