{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #map {
      height: 400px;
      width: 100%;
    }
</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <hr class="mt-0 mb-4">

      <head>
        <title>Listings</title>
      </head>
      <body>
        <h1>Listings</h1>

        <button id="filter" onclick="show_dialog()">Filter</button>

        
        <div id="dialog">
          <h3>Filters</h3>
          <ul style="list-style: none;">
            <li><label for="name">Name:</label> <input id="name" type="text"></li>
            <li><input id="laundry" type="checkbox"> <label for="laundry">Laundry</label></li>
            <li><input id="parking" type="checkbox"> <label for="parking">Parking</label></li>
            <li><input id="owned" type="checkbox"> <label for="owned">Owned</label></li>
            <li><label for="price_low">Price higher than:</label> <input id="price_low" type="text">
            <label for="price_high">Price lower than:</label> <input id="price_high" type="text"></li>
            <li><label for="rating_low">Rating higher than:</label> <input id="rating_low" type="text">
            <label for="rating_high">Rating lower than:</label> <input id="rating_high" type="text"></li>
            <li><label for="sqft_low">Square footage higher than:</label> <input id="sqft_low" type="text">
            <label for="sqft_high">Square footage lower than:</label> <input id="sqft_high" type="text"></li>
            <li><label for="beds_low"># Beds higher than:</label> <input id="beds_low" type="text">
            <label for="beds_high"># Beds lower than:</label> <input id="beds_high" type="text"></li>

          </ul>




        </div>

        <script type="text/javascript">
        $( "#dialog" ).dialog({
            dialogClass: "dialogs",
            buttons: [
              {
                text: "Apply filters",
                id: "apply_filters",
                click: function() {

                  var inputs = $("#dialog").children("ul").children("li").children("input");
                  var url = "?";
                  inputs.each(function(){
                    var type = $(this).attr("type");
                    if(type == "text"){
                      var text = $(this).val();
                      var id = $(this).attr("id")
                      if(text.length > 0){
                        url += id + "=" + text + "&"
                      }
                    }
                  });

                  // alert(url);

                  window.location = url;


                }
              }
            ]
          });

          $(".dialogs").css("width","80%");
          $(".dialogs").css("top","20%");
          $(".dialogs").css("left","10%");
          $(".dialogs").hide();

          function show_dialog(){
            $(".dialogs").show();
          }
        </script>

        <button id="show-list">List view</button>
        <button id="show-map">Map view</button>

        <div class="list-of-listings">
          {% if list_of_listings %}

            {% for listing in list_of_listings %}
              {% if listing.active %}
                {% include 'listings/one_listing_condensed.html' %}
              {% endif %}
            {% endfor %}


          {% else %}
            <p>No listings are available. :(</p>
          {% endif %}
        </div>

        <div class="mapview">
          <div id="map">
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC01WGGqQ_6fkdF_nJNUj4q9G6WF7BUXTs&callback=initMap">
            </script>
          </div>
        </div>

        <script type="text/javascript">
          $("#show-list").click(function(){
            $(".map").hide()
            $(".list-of-listings").show();
            document.getElementById('map').innerHTML = ''
          });
          $("#show-map").click(function(){
            $(".list-of-listings").hide();
            $(".mapview").show();
              var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 14, center: {lat: 38.0356, lng: -78.5034}});
               {% if list_of_listings %}
                 {% for listing in list_of_listings %}
                    coords = ( '{{ listing.get_coordinates }}')
                    coords = JSON.parse("[" + coords.replace(/\(/g, "[").replace(/\)/g, "]") + "]")
                    coords = coords[0]
                    var marker = new google.maps.Marker({position: {lat: coords[0], lng: coords[1]}, map: map,})
                    google.maps.event.addListener(marker, 'click', function() {
                      window.open('{{ listing.id }}');
                    });

                 {% endfor %}
               {% endif %}

          });
        </script>

      </body>

    </div>
  </div>

</div>




{% endblock %}
