{% load static %}

<script type="text/javascript" src="{% static 'listings/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'listings/rating.js' %}"></script>

<link rel="stylesheet" href="{% static 'listings/one_listing_condensed.css' %}">


<div class="listing">

  <div class="picture">
    {% if listing.pictures %}
    <img src="{% static 'listings/pics/' %}{{ listing.id }}/{{ listing.pictures }}" alt="Missing image">
    {% else %}
    <p>No pictures</p>
    {% endif %}
  </div>



  <div class="name">
    <a href="{{ listing.id }}">{{ listing.name }}</a>
  </div>

  <div class="rating">
    {% include 'listings/rating.html' %}
  </div>

  <div class="price">
    ${{ listing.price }}
  </div>

  <div class="address">
    {{ listing.address }}
  </div>

</div>
