{% if listing %}
{% load static %}

  <script type="text/javascript" src="{% static 'listings/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'listings/one_listing.js' %}"></script>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
  <link rel="stylesheet" href="{% static 'listings/one_listing.css' %}">

<div class="listing-info-container">


  <div class="name-container">
    <h1 id="name">{{ listing.name }}</h1>
  </div>
  <div class="price-container">
    <span class="price">${{ listing.price }}</span>
  </div>


  <div class="rating">
    <p>Rating = {{ listing.rating }}</p>
      <img id="star" src="{% static 'listings/star.png' %}" alt="" style="width: 50px;">
      <img id="empty_star" src="{% static 'listings/empty_star.png' %}" alt="" style="width: 50px;">
  </div>

</div>
<br>
<br>
<br>

  <div class="map" style="border: 2px solid black;">
    <p>Map</p>
    <div class="contact-info">
      <p>{{ listing.phone_num }}</p>
      <p>{{ listing.address }}</p>
      <!-- Email -->
    </div>
  </div>
  <div class="pics" style="border: 2px solid black;">
    <p>Pics</p>


    <!-- <img src="{% static 'listings/pics/4/'|add:listing.pictures %}" alt=""> -->
    {% if listing.pictures %}
    <img src="{% static 'listings/pics/' %}{{ listing.id }}/{{ listing.pictures }}" alt="">
    {% else %}
    <p>No pictures</p>
    {% endif %}


  </div>
  <div class="at-a-glance" style="border: 2px solid black;">
    <p><strong>Description:</strong> {{ listing.description }}</p>
    <p><strong>Laundry:</strong> {{ listing.laundry_info }}</p>
    <p><strong>square_footage:</strong> {{ listing.square_footage }} sqft</p>
    <p><strong>price:</strong> ${{ listing.price }}</p>
    <p><strong>bedroom_num:</strong> {{ listing.bedroom_num }}</p>
    <p><strong>ownership_info:</strong> {{ listing.ownership_info }}</p>
    <p><strong>submission_date:</strong> {{ listing.submission_date }}</p>

  </div>
  <div id="map"></div>
  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC01WGGqQ_6fkdF_nJNUj4q9G6WF7BUXTs&callback=initMap">
  </script>


  <script>
    function initMap() {
      // The location of Uluru
      var latt = Number("{{listing.latitude}}")
      var long = Number("{{listing.longitude}}")
      if (latt === ""){
        latt = 38.034
      }
      if (long === ""){
        long = 131.036
      }

      var location = {lat: latt, lng: long};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 15, center: location});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: location, map: map});
    }
  </script>


{% else %}
    <p>WHAT. No listing. :p</p>
{% endif %}
