{% extends 'base.html' %}
{% block content %}



{% if listing %}
{% load static %}

  <!--  <script type="text/javascript" src="{% static 'listings/rating.js' %}"></script>-->
  <script type="text/javascript" src="{% static 'listings/favorite_button.js' %}"></script>
  <!--
  <script type="text/javascript">
    $(document).ready(function(){
        $("input:id_favorite").change(function() {
            var isChecked = $("input:id_favorite").is(":checked") ? 1:0;
            $.ajax({
                url: 'self.php',
                type: 'POST',
                data: { 'csrfmiddlewaretoken': csrf_token , name: user.username, favorite:isChecked }
            });
        });
    });
  </script>
-->
  <!--<script type="text/javascript" src="{% static 'listings/active.js' %}"></script> -->
  <link rel="stylesheet" href="{% static 'listings/one_listing.css' %}">
  <link rel="stylesheet" href="{% static 'listings/favorite_button.css' %}">
  <link rel="stylesheet" href="{% static 'listings/active.css' %}">


  <style type="text/css">
      @media only screen and (min-width: 600px) {

        .spacer{
          height: 0;
          width: 0;
        }


      }
 </style>









<div class="test">

  <div id="dialog">
    <h3>Write a review</h3>
    <ul style="list-style: none;">
      {% include 'listings/stars.html' %}
      <hr>
      <textarea id='review' rows="4" cols="50" placeholder="Please write your review here..."></textarea>


    </ul>
  </div>

    <script type="text/javascript">
      $(function(){
        $(".stars_static").click(function(){
          $("#rate").trigger("click")
        });
          $( "#dialog" ).dialog({
              dialogClass: "dialogs",
              buttons: [
                {
                  text: "Submit",
                  id: "submit-review",
                  click: function() {

                    var data = {};
                    data["username"] = "{{ user.username }}";
                    data["listing_id"] = "{{ listing.id }}";
                    data["rating"] = default_rating;
                    data["review"] = $("#review").val();
                    AJAX("/listings/rate","post",data,function(response){
                      // alert("Review updated. Thanks!")
                      $(".ui-dialog-titlebar-close").trigger("click");
                      location.reload();
                    });


                  }
                }
              ]
            });

            $(".dialogs").css("width","80%");
            $(".dialogs").css("top","20%");
            $(".dialogs").css("left","10%");

            $(".ui-dialog-titlebar-close").click(function(){
              $(".dialogs").hide();
            });


        $(".dialogs").hide();

      });

      function show_dialog(){
        console.log("yyeet")
        $(".dialogs").show();
      }


    </script>


  <div class="name">
    <h1>{{ listing.name }}</h1>
      {% include 'listings/stars_static.html' %}
      <script type="text/javascript">
        set_static_rating({{ listing.rating }});
      </script>
    <div class="price">
      <h3>${{ listing.price }}</h3>
    </div>
    <div class="favebutton">
      {% if user.is_authenticated %}
          {% csrf_token %}

            <button id="rate" onclick="show_dialog()">Write a review</button>
            <button id="favorite">FAVORITE</button>
            <button id="un-favorite">UN-FAVORITE</button>

            {% if user in listing.user_list.all %}
              <style media="screen">
                #favorite{
                  display: none;
                }
              </style>
            {% else %}
            <style media="screen">
              #un-favorite{
                display: none;
              }
            </style>
            {% endif %}


      {% endif %}
    </div>
    {% if user.is_superuser %}
    <div class="active">
      {% if listing.active %}
      <form method = "post">
        {% csrf_token %}
        <label for="id_active">Active:</label>
        <input type="checkbox" name="active" id="id_active" checked>
        <button type="submit">Save</button>
      </form>
      {% else %}
      <form method = "post">
        {% csrf_token %}
        <label for="id_active">Active:</label>
        <input type="checkbox" name="active" id="id_active">
        <button type="submit">Save</button>
      </form>
      {% endif %}
    </div>
    {% endif %}
    <!--
      <script type="text/javascript">
    $(document).ready(function(){
        $("input:checkbox").change(function() {
            if($(this).is(":checked")) {
                $.ajax({
                    url: 'on_off.aspx',
                    type: 'POST',
                    data: { strID:$(this).attr("id"), strState:"1" }
                });
            } else {
                $.ajax({
                    url: 'on_off.aspx',
                    type: 'POST',
                    data: { strID:$(this).attr("id"), strState:"0" }
                });
            }
        });
    });
</script>
      -->
    <!--
    <div class="favorite">
     {% if user in listing.user_list.all %}
        <label for="id_favorite"></label>
        <input type="checkbox" name="favorite" id="id_favorite" checked>
      {% else %}
        <label for="id_favorite"></label>
        <input type="checkbox" name="favorite" id="id_favorite">
      {% endif %}

    </div>
    -->

  </div>
<!--
  <script type="text/javascript">
    hide_stars({{ listing.rating }});
  </script>
-->
  <script type="text/javascript" src="{% static 'ajax.js' %}"></script>


  <script>
    $(function(){
      $("#favorite").click(function(){
        var data = {};
        data["username"] = "{{ user.username }}";
        data["listing_id"] = "{{ listing.id }}";
        data["favorite"] = true;
        AJAX("/listings/add_favorite","post",data,function(response){
          $("#favorite").hide();
          $("#un-favorite").show();
        });
       });

      $("#un-favorite").click(function(){
        var data = {};
        data["username"] = "{{ user.username }}";
        data["listing_id"] = "{{ listing.id }}";
        data["favorite"] = false;
        AJAX("/listings/add_favorite","post",data,function(response){
          $("#favorite").show();
          $("#un-favorite").hide();
        });
      });

    });
  </script>

  <script>
function check() {
alert("there");
 //  if ({{list.active}}){
 //    document.getElementById("active").checked = true;
 // }
 //  else{
 //    document.getElementById("active").checked = false;
 // }
}
</script>


<div id="slides">
  <embed src="slides" width="500px" height="600px">
</div>
<div id="map"></div>





<a href="slides">View photos</a>
<div class="at-a-glance">
  <h3>At a glance</h3>

  <!-- <table style="width:20%;">
    <tr>
      <td><img src="{% static 'listings/bed_icon.png' %}" alt="bed icon"></td>
      <td><p><strong>bedroom_num:</strong> {{ listing.bedroom_num }}<p></td>
    </tr>
  </table> -->

  <div class="bullet_pair">
    <img class="bullet_icon" src="{% static 'listings/icons/laundry.png' %}" alt="laundry icon">
    <div class="bullet_pair_body">
      <strong>Laundry</strong> <br/>
      {% ifequal listing.laundry_info "L" %}
      YES
      {% else %}
      NO
      {% endifequal %}
    </div>
  </div>

  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="bullet_pair">
    <img class="bullet_icon" src="{% static 'listings/icons/sqft.png' %}" alt="sqft icon">
    <div class="bullet_pair_body">
      <strong>square_footage</strong> <br/>
      {{ listing.square_footage }} sqft
    </div>
  </div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>

  <div class="bullet_pair" id="bullet_pair_price">
    <img class="bullet_icon" src="{% static 'listings/icons/price.png' %}" alt="price icon">
    <div class="bullet_pair_body">
      <strong>price</strong> <br/>
      ${{ listing.price }}
    </div>
  </div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="bullet_pair">
    <img class="bullet_icon" src="{% static 'listings/icons/bed.png' %}" alt="bed icon">
    <div class="bullet_pair_body">
      <strong>Beds</strong> <br/>
      {{ listing.bedroom_num }}
    </div>
  </div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="bullet_pair">
    <img class="bullet_icon" src="{% static 'listings/icons/available.png' %}" alt="owner icon">
    <div class="bullet_pair_body">
      <strong>Available</strong> <br/>
      {% ifequal listing.ownership_info "A" %}
      YES
      {% else %}
      NO
      {% endifequal %}
    </div>
  </div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="bullet_pair">
    <img class="bullet_icon" src="{% static 'listings/icons/calendar.png' %}" alt="date icon">
    <div class="bullet_pair_body">
      <strong>Posted</strong> <br/>
      {{ listing.get_day }}
    </div>
  </div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="spacer" >&nbsp;</div>
  <div class="bullet_pair">
    <img class="bullet_icon" src="{% static 'listings/icons/parking.png' %}" alt="date icon">
    <div class="bullet_pair_body">
      <strong>Parking</strong> <br/>
      {% ifequal listing.parking_info "P" %}
      YES
      {% else %}
      NO
      {% endifequal %}
    </div>
  </div>

</div>

<div class="pics" style="border: 2px solid black;">


    <!-- <img src="{% static 'listings/pics/4/'|add:listing.pictures %}" alt=""> -->
    {% if listing.images %}

    {% for image_model in listing.images.all %}

      <img src="{{ image_model.image.url }}" alt="">
    {% endfor %}


    {% else %}
    <p>No pictures available.</p>
    {% endif %}


  </div>

  <div class="description">
      <h3>Description</h3> <br/> <p>{{ listing.description}}<p>
  </div>

  <div class="reviews">
    <h3>Reviews</h3>
    {% if listing.reviews.all %}
      {% include "listings/review.html" %}
    {% else %}
      <p>No reviews are available for this listing.</p>
    {% endif %}


  </div>


  <div class="contact-info">
    <h3>Contact</h3>


    <div class="bullet_pair">
      <img class="bullet_icon" src="{% static 'listings/icons/phone.png' %}" alt="sqft icon">
      <div class="bullet_pair_body">
        <strong>Phone</strong><br>
        {{ listing.phone_num }}
      </div>
    </div>

    <div class="bullet_pair">
      <img class="bullet_icon" src="{% static 'listings/icons/email.png' %}" alt="sqft icon">
      <div class="bullet_pair_body">
        <strong>Email</strong><br>
        segfaulters3240@gmail.com
        <!-- {{ listing.email }} -->
      </div>
    </div>

    <!-- <p>{{ listing.address }}</p> -->
    <!-- Email -->
  </div>


  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC01WGGqQ_6fkdF_nJNUj4q9G6WF7BUXTs&callback=initMap">
  </script>


  <script>
    function initMap() {
      // The location of Uluru
      var latt = Number("{{listing.latitude}}")
      var long = Number("{{listing.longitude}}")
      if (latt === ""){
        latt = 38.034
      }
      if (long === ""){
        long = 131.036
      }

      var location = {lat: latt, lng: long};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 15, center: location});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: location, map: map});
    }
  </script>


{% else %}
    <p>WHAT. No listing. :p This should have been handled by the 404 page...</p>
{% endif %}

</div>

<!--
Experimental
<script type="text/javascript">

var topofDiv = $(".name").offset().top; //gets offset of header
var height = $(".name").outerHeight()

var flip = true;

$(window).scroll(function(){
    var name = $(".name");
    var title = $(".name h1");
    var price = $(".name price").children("h3");
    if(flip && $(window).scrollTop() > (topofDiv + height/4)){
      var save_size = title.css("font-size");
      title.prop("save_size",save_size);
      title.css("font-size","100%");
      price.css("font-size","10px");
      flip = false;
    }
    else if(!flip && $(window).scrollTop() < (topofDiv)){
      flip = true;
      var save_size = title.prop("save_size");
      if(save_size.length > 0){
        title.css("font-size",title.prop("save_size"));
        title.prop("save_size","")
      }
    }
});

</script>

-->

{% endblock %}
