{% load static %}

<div class="rating">
  <p style="display: none;">Rating = {{ listing.rating }}</p>
  <img src="{% static 'listings/0stars.png' %}" alt="0 stars" style="display:none;" num="0">
  <img src="{% static 'listings/1stars.png' %}" alt="1 stars" style="display:none;" num="1">
  <img src="{% static 'listings/2stars.png' %}" alt="2 stars" style="display:none;" num="2">
  <img src="{% static 'listings/3stars.png' %}" alt="3 stars" style="display:none;" num="3">
  <img src="{% static 'listings/4stars.png' %}" alt="4 stars" style="display:none;" num="4">
  <img src="{% static 'listings/5stars.png' %}" alt="5 stars" style="display:none;" num="5">
</div>
