body{
  color: black;
}

.test{
  all: unset;
}

.rating img{
  width: 100%;
}

.name{
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #003366;
  padding: 1%;
}

.name h1{
  font-size: 300%;
  color: orange;
  margin-left: 2%;
}

.price h3{
  color: white;
  font-size: 200%;
  margin-left: 2%;
}

.at-a-glance{
  border: 2px solid red;
  overflow: hidden;
}

.at-a-glance h3, .contact-info h3, .description h3{
  padding-left: 1%;
  font-size: 250%;
}

.at-a-glance * ,.contact-info *{
  padding-left: 2%;
}

.rating{
  /* margin-top: 3%; */
  position: absolute;
  top: 8%;
  left: 20%;
  width: 45%;
}

.bullet_pair{
  /* border: 2px solid red; */
  float: left;
  width: 20%;
  display: inline-block;
  padding: 0;
  margin-bottom: 3%;
}

.bullet_pair_body{
  float: left;
  width: 60%;
  margin-top: 3%;
  font-size: 140%;
}

.bullet_icon{
  width: 20%;
  float: left;
}

#bullet_pair_price{
  margin-right: 40%;
}
